<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= yield(:title) %> | Stock</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true :debug => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true :debug => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid-margin">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stock</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid-margin">
      <div class="row">

          <!-- 仮対応 CSSで定義 -->
          <br><br><br><br>
          <%= yield %>　　<!-- ※この行は各ページを表示するための、最初から存在する。 -->

        </div>
      </div>
    </div><!-- /.container -->
  </body>
</html>
<!-- 2014/12/28 13:21 update -->